# Efficient TMDB API Calls
You have already written a function to combine the certification with the rest of the .info() from the TMDB API results. This lesson will help prepare you for the project. You may want to check out the specifications of project - part 2 for an overview of the task prior to working through this lesson.

## Learning Objectives:
Plan steps in complex code
Understand code snippets for making efficient TMDB API calls
### Planning

Before jumping into the code, it is important to outline in plain language what you are trying to do. Before you can ask the computer to do it, you have to really understand what you are asking. This week has introduced some new code that you may still be getting used to, so this lesson will help walk you through the task. We will go through the individual pieces of code, but for the project, you will need to put it all together, in a logical order, with correct formatting! There will be an OUTER and INNER loop: a loop within a loop!

### Our goal will be to

Determine where to save our results and in what file format.
Decide what subset of movies to retrieve (based on Years).
Develop code to make API calls based on our existing IMDB IDs with the INNER Loop
Organize output by year into separate .json files using an OUTER LOOP
So let's consider what our process looks like:

### BEFORE the Loops

Designate a folder to save your information
Define the years you wish to retrieve
Define any custom functions you will use
### Create an OUTER loop for each year with a progress bar using tqdm_notebook

Define a JSON_FILE filename to save the results in progress.
Check if the file exists.
if no:
Create the empty JSON file with with open that just contains the key "imdb_id"
if yes:
Do nothing.
Define/filter the movie IDs you want to retrieve (that belongs to the year being retrieved)
Check for and remove any previously downloaded movie id's to prevent duplicate API calls.
Load in any existing/previous results with pd.read_json
Check to see if any of the movie_ids to get are already in the JSON file.
Filter out only movies that are missing from JSON file to use in the loop.
### Create an INNER loop to make API calls for each id in the YEAR specified in the outer loop. For each id:

Load up results thus far from JSON file as a list.
Extract current ID from API and extract dictionary of results
Append the new results to the list from the JSON file
Save the updated JSON file back to disk
After the inner loop, save the final results for that year as a csv.gz file with the year in the filename.

Then, the outer loop repeats for the remaining years.
## BEFORE THE LOOPS
### Designate a folder
You will save API call data in the data folder you created for project part 1

In [40]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)
from tqdm.notebook import tqdm_notebook

## Define Your Functions
You should ultimately put any custom functions at the top of your notebook. You can first write them where you first use them in your project, but once you have the functions completed and tested, you should move their definitions to the top of your notebook after you import your packages.

You will need your function to get the movie rating from the prior lesson, as well as the new function below: write_json. This is a modified version of a function from https://www.geeksforgeeks.org/append-to-json-file-using-python/. Notice that the original source link is included in the function's docstring to give proper credit to the original authors.

In [24]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open('http://localhost:8889/edit/tmdb_api.json','r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [5]:
# Load in the dataframe from project part 1 as basics:
import pandas as pd
basics = pd.read_csv('/Data Enrichment/Week 1/Project 3/basics.csv.gz')

In [42]:
YEARS_TO_GET = [2000,2022]

In [18]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [7]:
errors = [ ]

In [46]:
pip install tqdm

Requirement already satisfied: tqdm in c:\users\erics\anaconda3\envs\dojo-env\lib\site-packages (4.64.1)
Requirement already satisfied: colorama in c:\users\erics\anaconda3\envs\dojo-env\lib\site-packages (from tqdm) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [50]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):

SyntaxError: unexpected EOF while parsing (174325521.py, line 2)

In [44]:
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])

NameError: name 'movie_ids_to_get' is not defined